[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO.git
[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
[submodule "projects/Gibbed.PortableExecutable"]
	path = projects/Gibbed.PortableExecutable
	url = https://github.com/gibbed/Gibbed.PortableExecutable.git
